[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/opt/sisor/sisor
Name=Sisor
Comment=A utility for efficient spaces organization.
Icon=/opt/sisor/images/sisor_fish.png
Categories=Utility;
StartupWMClass=Sisor_loader
